site_name: Test Repo
site_url: https://aitrenches.github.io/test-repo
repo_url: https://github.com/aitrenches/test-repo
repo_name: aitrenches/test-repo

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

plugins:
  - search
  - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Home: index.md
  - 5th Nov Agenda: 5th-nov-agenda.md
  - 21st Nov Agenda: 21st-nov-agenda.md
  - 14th Jan Agenda: 14th-jan-agenda.md
  - Preliminary Scoping  of  added responsibilities: preliminary-scoping-of-added-responsibilities.md
  - 21st Jan Agenda: 21st-jan-agenda.md
  - Documentation Framework: documentation-framework.md
  - 28th Jan Agenda: 28th-jan-agenda.md
  - 11th Feb Agenda: 11th-feb-agenda.md
  - 25th Feb Agenda: 25th-feb-agenda.md
  - 4th March Agenda: 4th-march-agenda.md
  - 11th March Agenda: 11th-march-agenda.md
  - 18th March Agenda: 18th-march-agenda.md
  - 29th April Agenda: 29th-april-agenda.md
  - 13th May Agenda: 13th-may-agenda.md
  - 3rd June Agenda: 3rd-june-agenda.md
  - 17th June Agenda: 17th-june-agenda.md
  - 1st July Agenda: 1st-july-agenda.md
  - 8th July Agenda: 8th-july-agenda.md
  - 5th August Agenda: 5th-august-agenda.md
  - 19th August Agenda: 19th-august-agenda.md
  - 2nd September Agenda: 2nd-september-agenda.md
  - 16th September Agenda: 16th-september-agenda.md
  - 7th October Agenda: 7th-october-agenda.md
  - 21 October Agenda:
    - MkDocs Automation Demo: mkdocs-automation-demo.md
    - Child Tab  2: child-tab-2.md
  - 18th Nov 2025 agenda: 18th-nov-2025-agenda.md
  - Draft workplan, Nov 2025: draft-workplan-nov-2025.md